$primary-color: #00bc77;
$error-color: #ff0000;

.sign-in-button {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1rem;
    border-color: $primary-color;
    background-color: $primary-color;
    color: #fff;
    cursor: pointer;
    text-decoration: underline;
  }

.edit-button {
    text-decoration: none;
}

.btn-edit-name {
    font-size: 0.8rem;
    text-decoration: none;

    @media screen and (max-width: 480px ) {
        font-size: 1rem;
    }

    @media screen and (min-width: 760px ) and (max-width: 1024px) {
        font-size: 1.2rem;
    }
}

.btn-save {
    background-color: white;
    border-color: $primary-color;
    color: $primary-color;
    width: 40%;
}

.btn-cancel {
    background-color: white;
    border-color: $error-color;
    color: $error-color;
    width: 40%;
}